<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Produtos | Editar</title>
</head>


<body>
    <app-menu></app-menu>

<div class="container col-md-10">
    <div class="modal-body">

        <div class="form-group">
            <label for="titulo"><strong>Nome</strong></label>
            <input [(ngModel)]='produtos.nome' type="text" class="form-control border border-primary" id="titulo"
                placeholder="Defina o nome">
        </div>

        <div class="form-group">
            <label for="texto"><strong>Descrição</strong></label>
            <textarea [(ngModel)]='produtos.descricao' class="form-control border border-primary" name="texto" id="texto" rows="1"
                placeholder="Defina a descrição"></textarea>
        </div>

        <div class="form-group">
            <label for="texto"><strong>Foto</strong></label>
            <textarea [(ngModel)]='produtos.foto' class="form-control border border-primary" name="texto" id="texto" rows="1"
                placeholder="Cole o Link da foto"></textarea>
        </div>

        <div class="form-group">
            <label for="texto"><strong>Preço</strong></label>
            <input [(ngModel)]='produtos.preco' type='number' class="form-control border border-primary" name="preco" id="preco" rows="1"
                placeholder="R$">
        </div>

        <div class="form-group">
            <label for="texto"><strong>Quantidade</strong></label>
            <input [(ngModel)]='produtos.quantidade' type='number' class="form-control border border-primary" name="quantidade"
                id="quantidade" rows="1">
        </div>

        <div class="form-group">
            <label for="texto"><strong>Escolha uma categoria ou cadastre</strong><a data-dismiss="modal"
                    routerLink='/categoria'><strong> uma
                        nova</strong></a>:</label>

        <select name="categoria" id="categoria" class="form-control border border-primary" [(ngModel)]='idCategoria'
        (change)='findByIdCategoria()'>
        <option *ngFor='let item of listaCategoria' value="{{item.id}}"><strong>
            {{item.tipo}} | {{item.classificacao}}</strong></option>
        </select>
        </div>
    </div>

    <div class="modal-footer align-items-center">
        <button type="button" class="btn btn-cadastrar" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-cancel" (click)='atualizar()'>Atualizar</button>
    </div>


</div>


<app-rodape></app-rodape> 
</body>