<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>About Us</title>

</head>

<body>

  <div class="banner">
    <div class="banner__overlay">
      <div class="banner__container">
        <h1 class="banner__title">Nossa História</h1>
        <p class="banner__text">The world is ours, recycle.</p>
      </div>
    </div>
    <div class="story-img"></div>
  </div>


  <section class="section section-dark">
    <h2>Blue Generation</h2>

    <p class="description__p mt-4">
      40% dos oceanos estão sendo afetados incisiva e diretamente por atividades humanas, como poluição e pesca
      predatória, o que resulta, principalmente, em perda de habitat, introdução de espécies invasoras e acidificação.
      Nosso lixo também ajuda na degradação dos oceanos – há 13.000 pedaços de lixo plástico em cada quilômetro
      quadrado.
      É frente a esses desafios que estamos lutando e fazendo de tudo para gerenciar e proteger a vida na água.
    </p>
  </section>

  <div class="secondimg">
    <div class="text">

    </div>
  </div>

  <section class="section section-dark">
    <h2>Objetivo</h2>
    <p class="description__p mt-4">
      Ser referência nacional no mercado por reduzir os problemas causados pela contínua produção de lixo descartado nos
      oceanos e em apoiar as cidades a serem referências sustentáveis.
    </p>
  </section>

  <div class="thirdimg">

  </div>


  <section class="section section-dark">
    <h2>Valores</h2>
    <p class="description__p2 mt-4">
      Respeito e valorização do meio ambiente;
      Sustentabilidade e cooperativismo;
      Ética e integridade;
      Responsabilidade Socioambiental;
      Conexões Tecnológicas.
    </p>
  </section>

  <div class="middle mt-4">
    <hr>
    <h1 class="title-dest">Conheça a Equipe</h1>
    <hr>
  </div>


  <div class="d-flex justify-content-center">
    <div class="section paddinf-off tmm-team">
      <section class="tmm-container">
        <div class="tmm-row">
          <div class="item-hexagon-4">
            <div class="face-container">
              <div class="hexagon">
                <div class="hexagon-in">
                  <div class="hexagon-bg type-1">
                    <div class="info">
                      <h3>Felipe Fernandes</h3>
                      <p>
                        <a href="https://www.linkedin.com/in/felipe-juan-fernandes/" target="_blank"><i
                            class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/FelipeJuanFernandes/" target="_blank"><i class="fa fa-github"
                            aria-hidden="true"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--GISELE-->
          <div class="item-hexagon-4">
            <div class="face-container">
              <div class="hexagon">
                <div class="hexagon-in">
                  <div class="hexagon-bg type-2">
                    <div class="info">
                      <h3>Gisele Mascarenhas</h3>
                      <p>
                        <a href="https://www.linkedin.com/in/giselemascarenhas/" target="_blank"><i
                            class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/giselemascarenhas/" target="_blank"><i class="fa fa-github"
                            aria-hidden="true"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Priscila-->
          <div class="item-hexagon-4">
            <div class="face-container">
              <div class="hexagon">
                <div class="hexagon-in">
                  <div class="hexagon-bg type-3">
                    <div class="info">
                      <h3>Priscila Damaceno</h3>
                      <p>
                        <a href="https://www.linkedin.com/in/pridamaceno/" target="_blank"><i
                            class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/PriscilaDamaceno/" target="_blank"><i class="fa fa-github"
                            aria-hidden="true"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--JULIA-->
          <div class="item-hexagon-4">
            <div class="face-container">
              <div class="hexagon">
                <div class="hexagon-in">
                  <div class="hexagon-bg type-4">
                    <div class="info">
                      <h3>Julia <br> Barão</h3>
                      <p>
                        <a href="https://www.linkedin.com/in/julia-rafaela-bar%C3%A3o-santos-729b32168/"
                          target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/juliabarao/" target="_blank"><i class="fa fa-github"
                            aria-hidden="true"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Priscila-->
          <div class="item-hexagon-4">
            <div class="face-container">
              <div class="hexagon">
                <div class="hexagon-in">
                  <div class="hexagon-bg type-5">
                    <div class="info">
                      <h3>Danilo <br> Pires</h3>
                      <p>
                        <a href="https://www.linkedin.com/in/danilo-pires-da-silva/" target="_blank"><i
                            class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/DanPirs/" target="_blank"><i class="fa fa-github"
                            aria-hidden="true"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
</html>