<head>
    <title>Nossos Produtos</title>
</head>

<body>
    <app-menu></app-menu>


    <!-- Banner ou Carrossel de Inicio -->

    <div class="banner">
        <div class="banner__overlay">
            <div class="banner__container">
                <h1 class="banner__title">Nossos Produtos</h1>
                <p class="banner__text">The world is ours, recycle.</p>

            </div>
        </div>
        <div class="story-img"></div>
    </div>




    <!-- Todos os Produtos -->

    <div class="container">
        <div class="produtos row row-cols-1 row-cols-md-2 card2 mt-4">
            <div *ngFor='let item of listaProdutos' class="col mb-4 ">
                <div class="card">
                    <img class="card-img-top" src="{{item.foto}}" width="350px" height="400px" alt="Imagem de capa do card">
                    <div class="card-body" id="produt">
                        <h2 class="description__title align-items-center">{{item.nome}}</h2>
                        <p class="description__p align-items-center">{{item.descricao}}</p>
                        <p class="description__p align-items-center">Categoria: {{item.categoria.tipo}}</p>
                        <p class="description__p align-items-center">{{item.preco | currency: 'BRL':true}}</p>
                        <div class="d-flex justify-content-center">
                            <a href="#" (click)="comprar(item)" routerLink='/produtos' class="btn mb-2 mt-2 justify-content-center" >Adicionar ao carrinho <i
                                    class="fa fa-cart-plus" aria-hidden="true" alt=""></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <!-- Filosofia Sustentável -->
    <div class="sect sect--great">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7 col-sm-offset-4 col-md-offset-6">
                    <div class="description text-center">
                        <h2 class="description__title">Filosofia Sustentável</h2>
                        <p class="description__p1">Nunca comprometemos nosso mundo para trazer nossos
                            produtos até você.
                            Adquirimos todas as nossas matérias primas localmente, todos frutos das
                            embalagens
                            descartadas nas principais praias do Brasil. Consideramos nossa obrigação
                            usar as melhores
                            tecnologias e processos de produção 100% sustentáveis ​​em nosso esforço
                            para uma pegada
                            mais leve com nosso planeta.</p>
                        <a href="#" class="btn justify-content-center mt-5 mb-0" routerLink='/sobre'>Leia mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Carrossel com animais marinhos -->

    <div class="container col-md-12 d-flex p-0 m-0 flex-column">
        <div class="d-flex justify-content-center containercarrossel m-0 p-0">
            <h4 class="frase">Pequena Mudança. Grande Impacto</h4>
        </div>

        <div class="d-flex justify-content-center containercarrossel mb-0 p-0">
            <p class=" d-flex justify-content-center frasesmall align-items-center">"Produção
                ecologicamente correta, inovação em embalagens sustentáveis e profundo respeito pela natureza e pelas
                pessoas.
            </p>
        </div>

        <div class="d-flex justify-content-center containercarrossel mb-0 p-0">
            <p class=" d-flex justify-content-center  frasesmall align-items-center">Retribuir ao
                planeta por meio de práticas sustentáveis. Esta sempre foi nossa maior missão".</p>
        </div>


        <div id="carrossel" class="containercarrossel bodycarrossel">

            <div class="panel active" style="background-image: url('https://i.imgur.com/mqTMcK8.jpg?1')">
            </div>
            <div class="panel" style="background-image:url('https://i.imgur.com/EphuPn6.jpg')">
            </div>
            <div class="panel" style="background-image:url('https://i.imgur.com/dYBr3Gn.jpg')">
            </div>
            <div class="panel" style="background-image:url('https://i.imgur.com/ogQC96r.jpg')">
            </div>
            <div class="panel" style="background-image:url('https://i.imgur.com/OfFP76M.jpg')">
            </div>
        </div>
    </div>



    <!-- Mais imagens de Produtos -->

    <section class="menu ">

        <p class="line-1 anim-typewriter d-flex justify-content-center mt-5">Descubra alguns de nossos campeões de
            vendas: </p>

        <div class="menu menu-wrapper">
            <div class="menu-item generation f1">
                <div class="second-frame">
                    <p>Corpo</p>
                </div>
                <span>Sabonete em barra</span>
            </div>

            <div class="menu-item generation f2">
                <div class="second-frame">
                    <p>Casa</p>
                </div>
                <span>Canudos Descartáveis</span>
            </div>

            <div class="menu-item generation f3">
                <div class="second-frame">
                    <p>Decoração</p>
                </div>
                <span>Vela Perfumada</span>
            </div>
        </div>
    </section>



    <!-- -------------- Cadastrar Novo Produto ----------------- -->

    <div class="d-flex justify-content-center row mt-3 mb-5 btn-responsivo">
        <div class="col-md-12 justify-content-center row ">
            <button class="btn mr-5" data-toggle="modal" data-target="#exampleModal">Novo Produto</button>
            <button class="btn mr-5" data-toggle="modal" routerLink='/categoria'>Nova Categoria</button>
            <button class="btn" data-toggle="modal" routerLink='/produto'>Atualizar Produtos</button>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><strong> Produto</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label for="titulo"><strong>Nome</strong></label>
                        <input [(ngModel)]='produtos.nome' type="text" class="form-control" id="titulo"
                            placeholder="Digite o Título">
                    </div>

                    <div class="form-group">
                        <label for="texto"><strong>Produto</strong></label>
                        <textarea [(ngModel)]='produtos.descricao' class="form-control" name="texto" id="texto"
                            rows="1" placeholder="Defina a descrição"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="texto"><strong>Foto</strong></label>
                        <textarea [(ngModel)]='produtos.foto' class="form-control" name="texto" id="texto"
                            rows="1" placeholder="Cole o Link da foto"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="texto"><strong>Preço</strong></label>
                        <input [(ngModel)]='produtos.preco' type='number' class="form-control" name="preco" id="preco"
                            rows="1" placeholder="R$">
                    </div>

                    <div class="form-group">
                        <label for="texto"><strong>Quantidade</strong></label>
                        <input [(ngModel)]='produtos.quantidade' type='number' class="form-control" name="quantidade" id="quantidade"
                            rows="1">
                    </div>

                    <div class="form-group">
                        <label for="texto"><strong>Escolha uma categoria ou cadastre</strong><a *ngIf="this.authService.admin()"
                                data-dismiss="modal" routerLink='/categoria'><strong> uma
                                    nova</strong></a>:</label>

                        <select name="categoria" id="categoria" class="form-control" [(ngModel)]='idCategoria'
                            (change)='findByIdCategoria()'>
                            <option *ngFor='let item of listaCategoria' value="{{item.id}}"><strong>
                                    {{item.tipo}} | {{item.classificacao}}</strong></option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer align-items-center">
                    <button type="button" class="btn btn-cadastrar" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-cancel" (click)='publicar()'>Cadastrar</button>
                </div>
            </div>
        </div>
    </div>

  
<app-rodape></app-rodape> 

    <!-- <img class="d-block w-100" src="../assets/praia.jpg" alt="Primeiro Slide"> -->