<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Categoria | Apagar</title>
</head>

</html>

<body>

    <div class="container mb-5 mt-5">

        <div class="row mb-5">
            <div class="col-md-12">
                <h1 class="text-center font-color1">Apagar Categoria</h1>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <h4 class="text-center font-color1">Tem certeza que deseja apagar essa categoria?</h4>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-12">
                <h5 class="text-center font-color1"><strong> {{categoria.tipo}}</strong></h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <button class="btn btn-cancel mr-4" routerLink='/tema'>Não</button>
                <button class="btn btn-cadastrar" (click)='apagar()'>Sim</button>
            </div>
        </div>

    </div>
</body>