<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img src="./../../assets/Blue01.png" width="250px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item active">
          <a class="nav-link mr-3" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3" routerLink="/produtos">Produtos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" routerLink="/sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-4" routerLink="/contato">Contato</a>
          </li>


          <!-- Usuario  (Editar)-->
          <li class="nav-item">
            <a class="nav-link mr-4" [routerLink]="['/user-edit', id]">Editar Usuário</a>
          </li>

          <li class="nav-item">
            <a class="nav-link mr-4" routerLink="/contato">Contato</a>
          </li>
      </ul>
    </div>
  </nav>