footer{
    background-color:#FFF1EB;
}

ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 40px;
    color: black;
    padding: 10px;
}

.footer-copyright{
    background-color:#FFF1EB;
}