@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body, html {
	background-color: #00173f;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
	padding-top: 50px;
}

* {
	box-sizing: border-box;
	transition: 0.25s all ease;
}

.login-container {
	display: block;
	position: relative;
	z-index: 0;
	margin: 4rem auto 0;
	padding: 5rem 4rem 0 4rem;
	width: 100%;
	max-width: 525px;
	min-height: 680px;
	
	/*background-image: url(https://i.imgur.com/5b5ldeN.jpg); tirei img por não entrar em contraste*/
	/* box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.589); */
}

.login-container:after {

	content: "";
	display: inline-block;
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 600px;
	border-radius: 50px;
	background-image: radial-gradient(
			ellipse at left bottom,
			rgba(247, 239, 220, 0.973) 0%,
			rgb(179, 163, 135) 59%,
			rgba(240, 193, 93, 0.815) 100%
		);
	/* box-shadow: 0 -0px 100px -20px rgba(0, 0, 0, 0.562); */
}


.form-login {
	position: relative;
	z-index: 1;
	padding-bottom: 3rem;
	border-bottom: 2px solid rgba(2, 5, 59, 0.918);
}

.login-nav {
	position: relative;
	padding: 0;
	margin: 0 0 6em 1rem;
}

.login-nav__item {
	list-style: none;
	display: inline-block;
}

.login-nav__item + .login-nav__item {
	margin-left: 2.25rem;
}

.login-nav__item a {
	position: relative;
	color: rgba(6, 1, 104, 0.623);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.25rem;
	padding-bottom: 0.5rem;
	transition: 0.2s all ease;
}

.login-nav__item.active a,
.login-nav__item a:hover {
	color: #0a0a0a;
	transition: 0.15s all ease;
}

.login-nav__item a:after {
	content: "";
	display: inline-block;
	height: 10px;
	background-color: rgb(22, 0, 83);
	position: absolute;
	right: 100%;
	bottom: -1px;
	left: 0;
	border-radius: 50%;
	transition: 0.15s all ease;
}

.login-nav__item a:hover:after,
.login-nav__item.active a:after {
	background-color: rgb(0, 14, 94);
	height: 2px;
	right: 0;
	bottom: 2px;
	border-radius: 0;
	transition: 0.2s all ease;
}
.login__label {
	display: block;
	padding-left: 1rem;
}




.login__input {
	color: rgba(245, 244, 244, 0);
	font-size: 1.15rem;
	width: 100%;
	padding: 0.5rem 1rem;
	border: 2px solid transparent;
	outline: none;
	border-radius: 1.5rem;
	background-color: rgb(255, 255, 255);
	letter-spacing: 1px;
}

.login__input:hover,
.login__input:focus {
	color: rgb(0, 0, 0);
	border: 2px solid rgba(6, 0, 34, 0.959);
	;
}

.login__input + .login__label {
	margin-top: 1.5rem;
}

.login__input--checkbox {
	position: absolute;
	top: 0.1rem;
	left: 0;
	margin: 0;
}

.login__submit {
	color: #ffffff;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 3rem;
	padding: 0.75rem;
	border-radius: 2rem;
	display: block;
	width: 100%;
	background-color: #7e4905bb;
	border: none;
	cursor: pointer;
}

.login__submit:hover {
	background-color: #68543086;
}


