
<div class="d-flex justify-content-center">
<a class="mr-3" routerLink='/categoria'>CATEGORIA</a>
<a class="mr-3" routerLink='/produtos'>PRODUTOS</a>
<a class="mr-3" routerLink='/sobre'>SOBRE NÓS</a>
<a class="mr-3"  routerLink='/carrinho'>CHECKOUT</a>
<a class="mr-3"  routerLink='/produto'>Editar Produto</a>
</div>


<!-- Felipe, sua parte está aqui

-> Não esqueça de colocar a navbar no componente menu

-> Footer no componente rodapé

Colocar titulo Inicio na página

As rotas estão logo acima!

Boa sorte amigo! -->