<div class="container-fluid">
  <div class="row bg-secondary">
    <div class="col-md text white">
      <a routerLink='/inicio' class="text-dark text-left">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>Início
      </a>
      <h1 class="fs-54 text-center">Categorias</h1>
      <h5 class="fs-18 text-center">Veja aqui todas as categorias</h5>

      <div class="row d-flex justify-content-center">
        <div class="col-md-3">
          <div class="form-group">
            <input [(ngModel)]='categoria.tipo' type="text" class="form-control" id="tipo"
              placeholder="Descreva o tipo">

          </div>
          <div class="form-group">
            <input [(ngModel)]='categoria.classificacao' type="text" class="form-control" id="classificacao"
              placeholder="Classificação">
          </div>
          <p>Categoria ativa?</p>
          <form action="/categoria">
              <input type="radio" id="ativo" name="radio" value=true (click)='ativoCategoria($event)'>
              <label for="ativo">Sim</label><br>
              <input type="radio" id="inativo" name="radio" value=false (click)='ativoCategoria($event)'>
              <label for="inativo">Não</label><br>

          </form>


          <div class="d-flex justify-content-center mb-3">
            <button class="btn btn-light" (click)='cadastrar()'>Cadastrar</button>
          </div>
        </div>

      </div>

    </div>


  </div>



</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="text-center">Todas as Categorias</h2>

    </div>
  </div>

  <div class="row mt-3 mb-5 d-flex justify-content-center">
    <div class="col-md-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col" class="text-right">Modificações</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let item of listaCategorias'>
            <th>{{item.id}}</th>
            <td>{{item.tipo}}</td>
            <td class="d-flex justify-content-end">
              <button class="btn btn-info mr-3">Editar</button>
              <button class="btn btn-danger">Deletar</button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>

</div>